*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

.idea/instapk.xml
instapk.log*
.hgignore
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/misc.xml
gradle/wrapper/gradle-wrapper.properties
instapk.properties
.idea/misc.xml
*.properties
*.properties
gradle/wrapper/gradle-wrapper.properties
*.gradle
